{% load static %}
{% block content %}
{% load socialaccount %}


<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Universal Adventures</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="icon" href={% static './img/Universal Adventures Logo.png' %} sizes="16x16" type="image/png">
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/owl.carousel.min.css' %}>
    <link rel="stylesheet" href={% static 'css/magnific-popup.css' %}>
    <link rel="stylesheet" href={% static 'css/font-awesome.min.css' %}>
    <link rel="stylesheet" href={% static 'css/themify-icons.css' %}>
    <link rel="stylesheet" href={% static 'css/nice-select.css' %}>
    <link rel="stylesheet" href={% static 'css/flaticon.css' %}>
    <link rel="stylesheet" href={% static 'css/gijgo.css' %}>
    <link rel="stylesheet" href={% static 'css/animate.css' %}>
    <link rel="stylesheet" href={% static 'css/slick.css' %}>
    <link rel="stylesheet" href={% static 'css/slicknav.css' %}>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href={% static 'css/style.css' %}>

</head>

<body>
    <div class="loader_bg">
        <div class="loader">
        </div>
    </div>

    <nav class="navbar  navbar-expand-lg  fixed-top navbar-light" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/"><img
                    src={% static 'img//Universal Adventures Logo.png' %} width="70px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#adv">Adventures</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#des">Destinations</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="tel:5551234567">Call +91-8882654593</a>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/profile">Hello {{user}}</a>
                    </li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/accounts/logout">logout</a></li>
                    {% else %}<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#" id="modal"
                            data-toggle="modal" data-target="#log">Login</a></li>

                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="log" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <a href="{% provider_login_url "facebook" method="js_sdk" %}"
                        class="btn btn-block btn-social btn-facebook"
                        style="background-color:#3b5998;text-align:center;color:white">
                        <span class="fa fa-facebook"></span>
                        Sign in with Facebook
                    </a>
                    <a href="{% provider_login_url "google"  %}" process="connect"
                        class="btn btn-block btn-social btn-google"
                        style="background-color:red;text-align:center;color:white">
                        <span class="fa fa-google-plus"></span>
                        Sign in with Google
                    </a>


                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h3 class="modal-title" id="lineModalLabel">Get A Call</h3>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">

                    <!-- content goes here -->
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail2"
                                placeholder="Enter your name" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPhone1">Phone Number</label>
                            <input type="password" class="form-control" id="exampleInputPhone1"
                                placeholder="+91-XXXXXXXXXX" required>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control textarea" rows="3" name="Message" id="Message"
                                        placeholder="Ask Anything related to your dream  Adventure or Destination"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <header class="masthead" style="min-height: 100%;">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src={% static './img/header.mp4' %} type="video/mp4">
        </video>
        <div class="container s">
            <div class="slider_text text-center">
                <h3>Universal Adventures</h3>
                <p>Pixel perfect design with awesome contents</p>
                <a href="/product/all" class="boxed-btn3">Explore Now</a>
            </div>
        </div>
    </header>



    <!-- popular_destination_area_start  -->
    <div class="popular_destination_area" id="des">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Destinations</h3>
                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit
                            hella wolf moon beard words.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for destination in destinations %}
                <div class="col-lg-4 col-md-6" onclick="window.location='/destination/{{destination.name}}';"
                    style="cursor: pointer;">
                    <div class="single_destination" style="max-height:180px">
                        <div class="thumb">
                            <img src="{{destination.image.url}}" alt="" style="max-height:217px !important">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">{{destination.name}}</p>

                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <div class="popular_places_area" id="adv">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Adventures</h3>
                        <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit
                            hella wolf moon beard words.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in products|slice:":6" %}
                <div class="col-lg-4 col-md-6" style="cursor: pointer;">
                    <div class="single_place">
                        <div class="thumb">


                            {% with product.images_set.all|first as image %}

                            <img src="{{image.image.url}}" />
                            {% endwith %}

                            <a href="/products/{{product.slug}}" class="prise">Rs{{product.sale}}</a>
                        </div>
                        <div class="place_info">
                            <a href="/products/{{product.slug}}">
                                <h3>{{product.name}}</h3>
                            </a>
                            <p>{{product.location}}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <a href="#">{{product.rating}} Reviews</a>
                                </span>
                                <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href="#">{{product.days}} days</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="more_place_btn text-center">
                        <a class="boxed-btn4" href="/product/all">More Places</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="video_area video_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video_wrap text-center">
                        <h3>Enjoy Video</h3>
                        <div class="video_icon">
                            <a class="popup-video video_play_button" href="https://www.youtube.com/watch?v=f59dDEk57i0">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Our Partners</h3>

                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 col-md-3"><img src="{% static 'img/natgeo.png' %}"></div>

            </div>


        </div>
    </div>
    <!-- testimonial_area  -->
    <div class="testimonial_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Testimonials</h3>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/traveller.jpg' %}" alt="">
                                        </div>
                                        <p>What an amazing Service they provide you ..
                                            They quality service at a very reasonable rates
                                            The representative who was handling my bookings Mr. Aditya was very decent
                                            and helpful
                                            Even if you'll call them in midnight th'll answer your call and find the
                                            solution for your personal Experience
                                            All over had a very good experience with them</p>
                                        <div class="testmonial_author">
                                            <h3>- Rahul Gupta</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/traveller.jpg' %}" alt="">
                                        </div>
                                        <p>Had the best experience in Goa. Thank you so much for such smooth
                                            co-ordination and your scuba coordinators were so helpful. You guys made our
                                            trip worthwhile.
                                            Cheers!!</p>
                                        <div class="testmonial_author">
                                            <h3>- Kartik Singh</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/traveller.jpg' %}" alt="">
                                        </div>
                                        <p>Out of the world experience. Thrilled after diving at 13000 feet from a
                                            freaking plane. Helpful and experienced staff, was able to manage everything
                                            with ease and no issues.</p>
                                        <div class="testmonial_author">
                                            <h3>- Anurag Shukla</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/traveller.jpg' %}" alt="">
                                        </div>
                                        <p>The one and only Company in India who provide all types of Adventures sports
                                            nd self driving vehicles with 24×7 Customer service. Our experience with
                                            Universal Adventure for Goa trip is just awesome. Thanks to Universal
                                            adventures Team.</p>
                                        <div class="testmonial_author">
                                            <h3>- Sunny Xylo</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="single_testmonial text-center">
                                        <div class="author_thumb">
                                            <img src="{% static 'img/testmonial/traveller.jpg' %}" alt="">
                                        </div>
                                        <p>Awesome activities and sports they provide.. and most important they helped
                                            me in the middle of the night when my friend got sick.. best experience of
                                            paragliding in gurgaon and scuba diving in goa i had with universal
                                            adventures.. great guys , you made my trip</p>
                                        <div class="testmonial_author">
                                            <h3>- Karan Paliwal</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src={% static 'img/Universal Adventures Logo.png' %} alt="">
                                </a>
                            </div>
                            <a href="#">+91 8882654593</a> <br>
                            <a href="mailto:contact@universaladventures.in">contact@universaladventures.in</a>
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/universaladventuresindia/">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.instagram.com/universaladventuresindia/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://g.co/kgs/FEs31r">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Company
                            </h3>
                            <ul class="links">
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> Gallery</a></li>
                                <li><a href="#"> Contact</a></li>
                                <li><a href="/privacy-policy/">Privacy-Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Popular destination
                            </h3>
                            <ul class="links double_links">
                                <li><a href="#">Indonesia</a></li>
                                <li><a href="#">America</a></li>
                                <li><a href="#">India</a></li>
                                <li><a href="#">Switzerland</a></li>
                                <li><a href="#">Italy</a></li>
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">Franch</a></li>
                                <li><a href="#">England</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Instagram
                            </h3>
                            <div class="instagram_feed" id="ing">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- JS here -->
    <script src={% static 'js/vendor/modernizr-3.5.0.min.js' %}></script>
    <script src={% static 'js/vendor/jquery-1.12.4.min.js' %}></script>
    <script src={% static 'js/popper.min.js' %}></script>
    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/owl.carousel.min.js' %}></script>
    <script src={% static 'js/isotope.pkgd.min.js' %}></script>
    <script src={% static 'js/ajax-form.js' %}></script>
    <script src={% static 'js/waypoints.min.js' %}></script>
    <script src={% static 'js/jquery.counterup.min.js' %}></script>
    <script src={% static 'js/imagesloaded.pkgd.min.js' %}></script>
    <script src={% static 'js/scrollIt.js' %}></script>
    <script src={% static 'js/jquery.scrollUp.min.js' %}></script>
    <script src={% static 'js/wow.min.js' %}""></script>
    <script src={% static 'js/nice-select.min.js' %}></script>
    <script src={% static 'js/jquery.slicknav.min.js' %}></script>
    <script src={% static 'js/jquery.magnific-popup.min.js' %}""></script>
    <script src={% static 'js/plugins.js' %}></script>
    <script src={% static 'js/gijgo.min.js' %}></script>
    <script src={% static 'js/slick.min.js' %}></script>



    <!--contact js-->

    <script src={% static 'js/contact.js' %}></script>
    <script src={% static 'js/jquery.ajaxchimp.min.js' %}></script>
    <script src={% static 'js/jquery.form.js' %}></script>
    <script src={% static 'js/jquery.validate.min.js' %}></script>
    <script src={% static 'js/mail-script.js' %}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    
    <script src={% static 'js/main.js' %}></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
    </script>
    <script>
        $(function () {
            $(window).scroll(function () {
                var mainbottom = $("header").offset().top + $("header").height();
                if ($(this).scrollTop() < mainbottom) {

                    $('nav').removeClass('first');

                } else {

                    $('nav').addClass('first');

                }
            })
        })
    </script>
    <script>
        setTimeout(function () {
            $('.loader_bg').fadeToggle();
        }, 2000);
    </script>
    <script>
        const instagramRegExp = new RegExp(/<script type="text\/javascript">window\._sharedData = (.*);<\/script>/)

        const fetchInstagramPhotos = async (accountUrl) => {
            const response = await axios.get(accountUrl)
            const json = JSON.parse(response.data.match(instagramRegExp)[1])
            const edges = json.entry_data.ProfilePage[0].graphql.user.edge_owner_to_timeline_media.edges.splice(
                0, 9
            const photos = edges.map(({
                node
            }) => {
                return {
                    url: `https://www.instagram.com/p/${node.shortcode}/`,
                    thumbnailUrl: node.thumbnail_src,
                    displayUrl: node.display_url,
                    caption: node.edge_media_to_caption.edges.length > 0 ? node.edge_media_to_caption.edges[0].node.text : ""
                }
            })
            return photos
        }

        (async () => {
            try {
                const photos = await fetchInstagramPhotos('https://www.instagram.com/universaladventuresindia/')
                const container = document.getElementById("ing")
                console.log(photos);
                photos.forEach(el => {
                    const a = document.createElement('a')
                    const img = document.createElement('img')
                    const div = document.createElement('div')
                    a.setAttribute('href', el.url)
                    a.setAttribute('target', '_blank')
                    a.setAttribute('rel', 'noopener noreferrer')
                    a.classList.add('instagram-photo')

                    img.setAttribute('src', el.thumbnailUrl)
                    img.setAttribute('alt', el.caption)

                    a.appendChild(img)
                    div.classList.add('single_insta')
                    div.appendChild(a)
                    container.appendChild(div)
                })
            } catch (e) {
                console.error('Fetching Instagram photos failed', e)
            }
        })()
    </script>

</body>

</html>
{% endblock %}